
.formulaire{
	display: flex;
	justify-content: center;
	align-content: flex-start;
	
	
}

.groupeGauche{
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	

}

.groupeDroite{
	display: flex;
	flex-direction: column;

}

.newArticle{

	display: flex;
	flex-direction: column;
	width: 70%

}


