.logo{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.categorie{

	width: 25%;
	border: solid gray 1px;

}
.categorie h3{

	text-align: center;

}


.button{
	display: block;
	text-align: center;
	background-color: #078DF0   ;
	color: black;
	font-size: 20px
	
}
.button:hover{
	color:inherit;
	text-decoration: none;
	
}



@keyframes fontsizeChange {
	from {font-size: 20px;  
	text-decoration : none; }
	to {font-size: 25px;}
  }
  
  
 .button:hover {
	font-size: 25px;
	color: white; 
	background-color: black;
	animation-name: fontsizeChange;
	animation-duration: 4s;
  }