.logo{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.logo{
	display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50%;
}

.intro{

	text-align: justify;
	margin-left: auto;
	margin-right: auto;


}


.categorie p{

	
	text-align: justify;
	padding: 10px;

}
.categorie h3{

	text-align: center;

}


.button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 30%;
	border : solid black 1px; 
	background-color: #078DF0;
	color: black;
	font-size: 20px;
	padding: 5px;
		
}
.button:hover{
	color:inherit;
	text-decoration: none;
	border : solid #078DF0 1px; 
	
}



@keyframes fontsizeChange {
	from {font-size: 20px;  
	text-decoration : none; }
	to {font-size: 25px;}
  }
  
  
 .button:hover {
	font-size: 25px;
	color: white; 
	background-color: black;
	animation-name: fontsizeChange;
	animation-duration: 4s;
  }

  .sousTitre{

	text-align: center;
  }

  .title{

	text-align: center;
	
	
  }
  #newTopicBtn{
	text-decoration: none;
  }

  #newTopicBtn:hover{
	
	color: white; 
	background-color: black;

	
}

/*SOUS MENU FORUM*/

.sousMenu li{

	list-style-type: none;
	margin: 10px;
	
}

.sousMenu{
	display : flex;
	flex-direction: row;
	justify-content: center;
	
}

.articlesList{

	width: 50%;
	
	margin-left: auto;
	margin-right: auto;
}

/*STYLE DETAIL ARTICLE*/

.contenu{

	margin-left: auto;
	margin-right: auto;

}

.commentaire{

	width : 70%;
	margin-left: auto;
	margin-right: auto;

}
.valider{
	text-align: center;
}

/*STYLE FORUM*/

.topicPrincipal{
	background-color: rgb(236, 240, 243);
}

/*STYLE DES INFOS USER*/
.infoUser{
	list-style-type: none;
	margin: 10px;
	display: flex;
	flex-direction: column;
	
	
	
}

.center{
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

/*STYLE MODIF MDP*/
.modifMdp{
	display : flex;
	justify-content: center;

}


/*STYLE FOOTER DU SITE*/

.footer li{
	list-style-type: none;
	color: white;

}
.footer a{
	
	color: white;

}

.footer{
	display : flex; 
	justify-content: space-around;
}
.footer p{
	color : blanchedalmond;
}






/*AFFICHAGE SUR PETIT ECRAN*/
@media only screen and (max-width: 600px) {

	.sousMenu{
		
		flex-direction: column;
		align-content: center;
		
	}
	.sousMenu a{
		display: block;
		width: 100%;
		
	}

	.articlesList{

		width: 100%;
		
		
	}

	.button{
		
		width : 100%;
		
			
	}
	
  }