{% extends 'administrateur.html.twig' %}

{% block body %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Utilisateur </h1>

          {{ form_start(form, { attr : { novalidate : 'novalidate' } }) }}
        <div class="form-group newArticle">

            
             {{ form_label(form.plainPassword, "Mot de passe : " | capitalize) }} 
             {{ form_widget(form.plainPassword)}}
             {#{ form_errors(form.password) }#}

             

            <button class="btn mt-4 btn-primary">Valider</button>
        </div>
        {{ form_end(form) }}

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock %}




    