{% extends 'theme.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/stylePrincipal.css') }}"> {% endblock %}
{% block body %}

<h2 class="title"> En cours de construction</h2>
     <p class="text-center lead">Cette page n'est pas encore disponible.</p>

<div class="row d-flex justify-content-center">
    <div class="categoriemb-4">
    <img class="logo" src="{{asset('illustration/mario.png')}}" alt="mario maker">
     
      <p class="text-center">Si vous rencontrez un problème merci de remplir <a  href="{{url('contact')}}">ce formulaire </a> </p>
     
    </div>
</div>

   

 
     {% endblock %}

  
